.container {
	padding: 15px 40px 90px;
	font-family: Roboto, sans-serif;
	background-color: var(--color-background);
}

@media screen and (width <= 1025px) {
	.container {
		padding: 0 20px;
	}
}

@media screen and (width <= 480px) {
	.container {
		padding: 0 10px;
	}
}
