@import url("~/assets/css/media.css");

.container {
	display: grid;
	flex-grow: 1;
	grid-template-rows: min-content 1fr;
	grid-template-columns: minmax(auto, 1500px);
	padding: 16px 40px;
	margin: 0 auto;
	background-color: var(--color-background);
}

.courses-container {
	padding: 27px 0 0;
	color: var(--color-text-300);
}

.courses-container-content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: space-between;
}

.courses-title {
	margin: 0 0 10px;
	font-size: var(--font-size-400);
}

@media screen and (--large-screen) {
	.container {
		padding: 15px 20px;
	}
}

@media screen and (--small-screen) {
	.courses-title {
		font-size: var(--font-size-300);
	}
}
