@import url("~/assets/css/media.css");

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 16px 40px;
	background-color: var(--color-background);
}

.courses-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	max-width: 1500px;
	padding: 27px 0 0;
	margin: auto;
	color: var(--color-text-300);
}

.courses-container-content {
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;
}

.courses-title {
	margin: 0 0 10px;
	font-size: var(--font-size-400);
}

@media screen and (--large-screen) {
	.container {
		padding: 15px 20px;
	}
}

@media screen and (--small-screen) {
	.courses-title {
		font-size: var(--font-size-300);
	}
}

@media (display-mode: standalone) and (--small-screen) {
	.container {
		margin-bottom: 67px;
	}
}
