@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	src: url("/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url("/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
