#
# APP
#
NODE_ENV=development
PORT=3001
HOST=localhost

#
# DATABASE
#
DB_CONNECTION_STRING=[db_client]://[db_username]:[db_user_password]@localhost:[db_port]/[db_name]
DB_DIALECT=pg
DB_POOL_MIN=2
DB_POOL_MAX=10

#
# AUTHENTICATION
#
# SECRET_KEY has to be changed to own random secret key
SECRET_KEY=verysecretkey
TOKEN_ALGORITHM=HS256
TOKEN_EXPIRES_IN=24h

#
# AWS S3
#
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
S3_REGION=s3_region
S3_BUCKET=s3_bucket

#
# TOKEN
#
UDEMY_CLIENT_ID=XXX
UDEMY_CLIENT_SECRET=XXX
UDEMY_URL=https://www.udemy.com/api-2.0/courses/
