@import url("~/assets/css/media.css");

.container {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding-top: 178px;
	padding-bottom: 20px;
	background-color: var(--color-menu);
	background-image: url("~/assets/img/background-cloud-one.svg"),
		url("~/assets/img/background-cloud-two.svg"),
		url("~/assets/img/background-cloud-three.svg"),
		url("~/assets/img/background-cloud-four.svg"),
		url("~/assets/img/background-cloud-five.svg"),
		url("~/assets/img/background-sun.svg"),
		url("~/assets/img/background-cloud-one.svg");
	background-repeat: no-repeat;
	background-position:
		calc(50% - 600px) 442px,
		calc(50% - 455px) 385px,
		calc(50% - 325px) 466px,
		calc(50% + 280px) 460px,
		calc(50% + 485px) 404px,
		calc(50% + 460px) 382px,
		calc(50% + 750px) 484px;
}

.form-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 454px;
	height: 100%;
	background-color: #004a40b3;
	backdrop-filter: blur(5px);
	border-radius: 37px;
}

.logo-wrapper {
	position: absolute;
	top: -65px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 35px 65px 22px 50px;
	font-size: 43.71px;
	font-weight: 700;
	line-height: 52.89px;
	color: var(--color-menu);
	background-color: #ffffff;
	border-radius: 37px;
}

.logo-wrapper::after {
	position: absolute;
	right: 65px;
	bottom: -30px;
	content: url("~/assets/img/tail.svg");
}

.sign-in::before {
	position: absolute;
	bottom: -20px;
	left: -185px;
	width: 283px;
	height: 283px;
	content: "";
	background-image: url("~/assets/img/sign-in-character.svg");
	background-size: cover;
}

.sign-up::before {
	position: absolute;
	right: -225px;
	bottom: 10px;
	width: 283px;
	height: 283px;
	content: "";
	background-image: url("~/assets/img/sign-up-character.svg");
	background-size: cover;
}

.logo {
	position: relative;
	top: -12px;
	left: 12px;
}

@media screen and (--large-screen) {
	.sign-in::before,
	.sign-up::before {
		display: none;
	}
}

@media screen and (--medium-screen) {
	.container {
		background-image: url("~/assets/img/background-cloud-one.svg"),
			url("~/assets/img/background-cloud-three.svg"),
			url("~/assets/img/background-cloud-four.svg"),
			url("~/assets/img/background-cloud-five.svg"),
			url("~/assets/img/background-sun.svg");
		background-position:
			calc(50% - 330px) 520px,
			calc(50% + 300px) 640px,
			calc(50% - 220px) 760px,
			calc(50% + 230px) 360px,
			calc(50% + 265px) 340px;
	}
}

@media screen and (--small-screen) {
	.container {
		padding: 0;
		background-image: url("~/assets/img/background-cloud-four.svg"),
			url("~/assets/img/background-cloud-five.svg");
		background-position:
			calc(50% - 160px) 90%,
			calc(50% + 200px) 20%;
	}

	.form-container {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		min-height: 100lvh;
		padding: 15px 33px 0;
		border-radius: unset;
	}

	.logo-wrapper {
		position: relative;
		height: 108px;
		padding: 20px;
		margin-top: 65px;
		margin-bottom: -50px;
	}

	.logo-wrapper::after {
		right: 41px;
		bottom: -33px;
	}

	.logo {
		top: 0;
		left: 0;
		width: 250px;
	}
}
