@import url("~/assets/css/media.css");

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 16px 40px;
	background-color: var(--color-background);
}

.courses-container {
	display: grid;
	flex-grow: 1;
	grid-template-rows: min-content 1fr;
	grid-template-columns: minmax(auto, 1500px);
	padding: 27px 0 0;
	margin: 0 auto;
	color: var(--color-text-300);
}

.courses-container-content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: space-between;
}

.user-content {
	display: flex;
	gap: 19px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	background-color: var(--color-menu);
	border-radius: 16px;
}

.profile-image-wrapper {
	position: relative;
	width: 133px;
	height: 133px;
	overflow: hidden;
	border-radius: 50%;
}

.profile-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fullName {
	inline-size: 120px;
	margin: 0;
	overflow: hidden;
	font-size: var(--font-size-300);
	font-weight: 500;
	color: var(--main-white);
	text-overflow: ellipsis;
}

.user-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.return-button {
	align-self: flex-start;
	width: 25px;
	height: 25px;
	margin-bottom: 17px;
	color: var(--color-text-200);
	background-color: #e0e0e0;
	fill: currentcolor;
}

.courses-title {
	margin: 0 0 10px;
	font-size: var(--font-size-400);
	color: var(--color-text-300);
}

.follow-button {
	max-width: 120px;
}

@media screen and (--medium-screen) {
	.container {
		padding: 16px 20px;
	}

	.profile-image-wrapper {
		max-width: 100px;
		height: 100px;
	}

	.user-content {
		gap: 10px;
	}
}

@media screen and (--small-screen) {
	.profile-image-wrapper {
		max-width: 95px;
		height: 95px;
	}

	.user-content {
		gap: 22px;
		padding: 6px 0;
	}

	.follow-button {
		max-width: 114px;
	}

	.courses-title {
		padding-left: 4px;
		font-size: var(--font-size-300);
	}
}
