@import url("~/assets/css/media.css");

.wrapper {
	position: relative;
	display: flex;
	gap: 27px;
	justify-content: center;
	padding: 15px 40px;
}

.back-container {
	display: flex;
	gap: 5px;
	align-items: center;
	margin-top: 15px;
	color: var(--color-text-400);
}

.back-button {
	justify-content: center;
	padding: 2px 13px;
	margin-left: 39px;
	color: #e0e0e0;
	background-color: #e0e0e0;
	border: none;
	border-radius: 50%;
	fill: transparent;
}

.back-button:hover {
	color: var(--main-orange);
}

@media screen and (--large-screen) {
	.wrapper {
		flex-direction: column;
	}

	.back-container {
		display: none;
	}
}

@media screen and (--medium-screen) {
	.wrapper {
		flex-direction: column;
		padding: 27px 30px 10px;
	}
}

@media screen and (--small-screen) {
	.wrapper {
		padding: 27px 20px 10px;
	}
}
