@import url("~/assets/css/media.css");

.wrapper {
	position: relative;
	display: flex;
	gap: 27px;
	justify-content: center;
	padding: 15px 40px;
}

.back-button {
	width: 24px;
	height: 24px;
	margin-top: 15px;
	margin-left: 39px;
	color: var(--color-text-400);
	background-color: #e0e0e0;
}

@media screen and (--large-screen) {
	.wrapper {
		flex-direction: column;
	}
}

@media screen and (--medium-screen) {
	.wrapper {
		flex-direction: column;
		padding: 27px 30px 10px;
	}
}

@media screen and (--small-screen) {
	.wrapper {
		padding: 27px 20px 10px;
	}
}
