@import url("~/assets/css/media.css");

.container {
	display: grid;
	flex-grow: 1;
	grid-template-rows: min-content 1fr;
	grid-template-columns: minmax(auto, 1500px);
	padding: 16px 40px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	display: flex;
	gap: 27px;
	justify-content: center;
}

.back-button {
	width: 24px;
	height: 24px;
	margin-bottom: 17px;
	color: var(--color-text-400);
	background-color: #e0e0e0;
}

@media screen and (--large-screen) {
	.container {
		padding: 16px 24px;
	}

	.wrapper {
		flex-direction: column;
	}
}
