.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 17px;
	justify-content: center;
	width: 100%;
	padding: 33px 41px 21px;
	background-color: var(--color-background);
}

.profile-title {
	font-size: var(--font-size-400);
	font-weight: 600;
	color: var(--color-text-300);
}

.avatar-container {
	display: flex;
	gap: 19px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 12px 0 16px;
	margin-bottom: 17px;
	background-color: var(--color-menu);
	border-radius: 16px;
}

.profile-image-wrapper {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
}

.profile-image {
	object-fit: cover;
	width: 133px;
	height: 133px;
}

.file-input {
	display: none;
}

.profile-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 520px;
	color: var(--color-text-300);
	background-color: var(--main-white);
	border-radius: 16px 16px 0 0;
}

.fieldset {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 280px;
	padding: 0;
	margin-top: 49px;
	border: none;
}

.btnWrapper {
	display: flex;
	gap: 10px;
	justify-content: center;
	width: 100%;
	padding: 14px 0 13px;
	margin-top: auto;
	background-color: var(--color-menu);
	border-radius: 0 0 16px 16px;
}

.button {
	width: 114px;
}

.profile-character {
	position: absolute;
	bottom: -52px;
	left: 15%;
	transform: translateY(-50%);
}

@media screen and (--medium-screen) {
	.profile-image {
		max-width: 100px;
		height: 100px;
	}

	.profile-character {
		display: none;
	}

	.profile-image-wrapper {
		gap: 10px;
	}
}

@media screen and (--small-screen) {
	.profile-image {
		max-width: 70px;
		height: 70px;
	}

	.fieldset {
		margin-top: 29px;
	}
}
