:root {
	--color-menu: #043730;
	--modal-container-background: #004a40b2;
	--main-orange: #f76519;
	--font-size-100: 12px;
	--font-size-200: 14px;
	--font-size-300: 16px;
	--font-size-400: 20px;
	--font-size-500: 22px;
	--font-size-600: 28px;
	--font-size-700: 30px;
	--font-size-800: 42px;
}
