:root {
	--modal-container-background: #004a40b2;
	--main-orange: #f76519;
	--main-white: #ffffff;
	--color-background: #f5f7f7;
	--color-menu: #043730;
	--color-button: #f76519;
	--color-text-100: #aeb4bb;
	--color-text-200: #7a7a88;
	--color-text-300: #313134;
	--color-text-400: #9f9e9e;
	--color-text-500: #8c9198;
	--color-text-600: #27282b;
	--color-error: #f62d2d;
	--color-input: #037768;
	--font-size-100: 12px;
	--font-size-200: 14px;
	--font-size-300: 16px;
	--font-size-350: 18px;
	--font-size-400: 20px;
	--font-size-500: 22px;
	--font-size-550: 24px;
	--font-size-600: 28px;
	--font-size-700: 30px;
	--font-size-800: 42px;
	--container-width: 1000px;
	--z-index-low: 10;
	--z-index-medium: 100;
	--z-index-high: 1000;
}
