.container {
	--border-color: rgba(174 180 187 / 15%);

	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 33px 40px 25px;
	overflow: hidden;
	font-family: Roboto, sans-serif;
}

.title {
	margin: 0 0 10px;
	font-size: var(--font-size-400);
	font-weight: 600;
	color: var(--color-text-300);
}

.chat-container {
	display: grid;
	flex: 1;
	grid-template-columns: 300px auto;
	overflow: hidden;
	background-color: var(--main-white);
	border-radius: 16px;
}
