.container {
	height: calc(100vh - 98px);
	padding: 30px 30px 90px;
	font-family: Roboto, sans-serif;
}

.title {
	margin-bottom: 10px;
	font-size: var(--font-size-400);
}

.chat-container {
	display: grid;
	grid-template-columns: 300px auto;
	height: 100%;
	overflow: hidden;
	background-color: var(--main-white);
	border-top: 30px solid var(--color-menu);
	border-bottom: 30px solid var(--color-menu);
	border-radius: 16px;
}

.back-container {
	display: flex;
	gap: 10px;
	align-items: center;
}

.back-button {
	width: 25px;
	height: 25px;
	color: var(--color-text-200);
	background-color: #e0e0e0;
	fill: currentcolor;
}

.subtitle {
	font-size: var(--font-size-100);
	color: #9a9fa5;
}
