.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	padding: 16px;
}

.friend-item {
	overflow: hidden;
	list-style: none;
	cursor: pointer;
}

.friend-item:hover {
	box-shadow: 3px 11px 22px -14px #00000080;
}
