@import url("~/assets/css/media.css");

.wrapper {
	display: grid;
	flex-grow: 1;
	grid-template-rows: min-content 1fr;
	grid-template-columns: minmax(auto, 1500px);
	padding: 16px 40px;
	margin: 0 auto;
}

.link-list {
	display: flex;
	width: min-content;
	padding: 0;
	list-style: none;
	background-color: var(--main-white);
	border-radius: 38px;
}

.link-item {
	width: max-content;
	font: inherit;
	font-size: var(--font-size-300);
	color: var(--color-text-200);
	text-align: center;
	white-space: nowrap;
	border-radius: 38px;
	transition:
		background-color 0.2s,
		color 0.2s;
}

.link {
	display: flex;
	padding: 8px 36px;
	color: inherit;
	text-decoration: none;
	border-radius: inherit;
}

.active {
	color: var(--main-white);
	background-color: var(--main-orange);
}

@media screen and (--medium-screen) {
	.link {
		padding: 8px 18px;
	}
}

@media screen and (--small-screen) {
	.link {
		justify-content: center;
	}

	.link-item {
		width: 100%;
		font-size: var(--font-size-200);
	}

	.link-list {
		flex-direction: column;
		align-items: center;
		width: 100%;
		border-radius: 20px;
	}
}
