@import url("~/assets/css/media.css");

.content {
	display: flex;
	flex-direction: column;
	gap: 27px;
	width: 100%;
	max-width: 253px;
	margin-top: 141px;
	margin-bottom: 190px;
	color: var(--main-white);
}

.info {
	font-size: var(--font-size-500);
	font-weight: 600;
	line-height: 48px;
	text-align: center;
}

.title {
	margin: 0;
	font-size: var(--font-size-600);
	font-weight: 600;
	line-height: 48px;
}

.subtitle {
	margin-top: 0;
	font-size: var(--font-size-200);
	font-weight: 400;
	line-height: 20px;
}

.link {
	color: var(--color-button);
	text-decoration: none;
	transition: 0.1s color ease;
}

.link:hover {
	text-decoration: underline;
}

.button {
	font-weight: 700;
}

@media screen and (--small-screen) {
	.content {
		max-width: unset;
		padding: 0 30px;
		margin-top: 0;
	}

	.button {
		margin-top: 24px;
	}
}
