.container {
	position: relative;
	flex-grow: 1;
	max-width: 300px;
	height: min-content;
	overflow: hidden;
	background-color: var(--main-white);
	border-radius: 16px;
}

.plan-title {
	padding: 12px;
	font-size: var(--font-size-550);
	font-weight: 600;
	color: var(--main-white);
	text-align: center;
	background-color: var(--color-menu);
}

.details-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.label {
	font-size: var(--font-size-200);
	font-weight: 500;
	color: var(--color-text-200);
}

.price {
	font-size: var(--font-size-300);
	font-weight: 600;
	color: var(--color-text-600);
}

.content {
	min-height: 200px;
	padding: 12px;
}

.benefits {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.benefit {
	display: flex;
	gap: 4px;
	align-items: center;
	margin-left: 8px;
	font-size: var(--font-size-200);
	color: var(--color-text-600);
}

.benefit::before {
	font-size: 13px;
	content: "\2714";
}

.subscribe-button {
	width: 100%;
	color: var(--main-white);
	background-color: var(--color-button);
	border-radius: unset;
}

.active-label {
	position: absolute;
	top: 0;
	top: 14px;
	left: -40px;
	width: 150px;
	font-size: var(--font-size-200);
	font-weight: 600;
	color: var(--main-white);
	text-align: center;
	background-color: var(--color-button);
	transform: rotate(-33deg);
}
