.actions {
	display: flex;
	flex: 1;
	gap: 24px;
	align-items: center;
	padding: 12px;
	background-color: var(--color-menu);
}

.button {
	flex: 1;
}

.card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(0 0 0 / 10%);
}

.card-content {
	padding: 12px;
}

.fullName {
	font-size: var(--font-size-300);
	font-weight: 500;
	color: var(--color-text-300);
}

.info {
	color: var(--main-white);
}

.portrait {
	aspect-ratio: 1 / 1;
	border-radius: 12px;
	object-fit: cover;
	object-position: center;
}
