@import url("~/assets/css/media.css");

.forgot-password-link {
	position: absolute;
	top: -2px;
	right: 0;
	z-index: var(--z-index-medium);
	color: #7eaa9a;
	text-decoration: none;
	transition: 0.1s color ease;
}

.forgot-password-link:hover {
	text-decoration: underline;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 27px;
	width: 100%;
	max-width: 253px;
	margin-top: 141px;
	margin-bottom: 190px;
	color: var(--main-white);
}

.title {
	margin: 0;
	font-size: var(--font-size-600);
	font-weight: 600;
	line-height: 48px;
}

.subtitle {
	margin-top: 0;
	font-size: var(--font-size-200);
	font-weight: 400;
	line-height: 20px;
}

.link {
	color: var(--color-button);
	text-decoration: none;
	transition: 0.3s color ease;
}

.password-input {
	position: relative;
}

.password {
	padding-right: 50px;
}

.icon {
	position: absolute;
	top: 32px;
	right: 18px;
	min-height: auto;
	padding: 0;
	background-color: transparent;
	border: unset;
}

.button {
	font-weight: 700;
}

@media screen and (--small-screen) {
	.form {
		max-width: unset;
		padding: 0 30px;
		margin-top: 0;
	}

	.button {
		margin-top: 24px;
	}
}

@media (--hover-active) {
	.link:hover {
		text-decoration: underline;
	}
}
