.wrapper {
	position: relative;
	display: flex;
	gap: 27px;
	padding: 15px 40px;
}

.back-btn {
	justify-content: flex-start;
	width: 128;
	padding-left: 0;
	padding-left: 39px;
	color: var(--color-text-400);
	background-color: transparent;
	border: none;
}

.back-btn:hover {
	color: var(--color-text-300);
	background-color: transparent;
}

.title {
	padding-bottom: 7px;
	font-size: var(--font-size-400);
	font-weight: 600;
	color: var(--color-text-300);
}

.image,
.course-info {
	width: 650px;
}

.course-info .title {
	margin-bottom: 10px;
}

.course-content__list {
	display: flex;
	flex-direction: column;
	gap: 11px;
	padding: 0;
	list-style: none;
}

.course-content__item {
	min-width: 398px;
	height: fit-content;
	padding: 20px 26px;
	font-size: var(--font-size-300);
	font-weight: 500;
	color: var(--color-text-300);
	background-color: var(--main-white);
	border-radius: 10px;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
	font-family: sans-serif;
	color: var(--color-text-500);
}

.tabs__label {
	padding: 10px 16px;
	cursor: pointer;
	border-bottom: 1px solid #dddddd;
}

.tabs__radio {
	display: none;
}

.tabs__content {
	display: none;
	order: 1;
	width: 100%;
	font-size: 16px;
	line-height: 1.5;
}

.tabs__title {
	padding-top: 30px;
	font-size: var(--font-size-350);
	font-weight: 500;
	color: var(--color-text-300);
}

.tabs__radio:checked + .tabs__label {
	font-weight: bold;
	color: var(--color-text-600);
	border-bottom: 3px solid var(--main-orange);
}

.tabs__radio:checked + .tabs__label + .tabs__content {
	display: initial;
}
