.wrapper {
	position: relative;
	display: flex;
	gap: 27px;
	padding: 15px 40px;
}

.back-btn {
	justify-content: flex-start;
	width: 128;
	padding-left: 0;
	padding-left: 39px;
	color: var(--color-text-400);
	background-color: transparent;
	border: none;
}

.back-btn:hover {
	color: var(--color-text-300);
	background-color: transparent;
}

.title {
	padding-bottom: 7px;
	font-size: var(--font-size-400);
	font-weight: 600;
	color: var(--color-text-300);
}

.subtitle {
	padding-top: 30px;
	font-size: var(--font-size-350);
	font-weight: 500;
	color: var(--color-text-300);
}

.image,
.course-info {
	width: 650px;
}

.course-info .title {
	margin-bottom: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 11px;
	padding: 0;
	list-style: none;
}

.item {
	min-width: 398px;
	height: fit-content;
	padding: 20px 26px;
	font-size: var(--font-size-300);
	font-weight: 500;
	color: var(--color-text-300);
	background-color: var(--main-white);
	border-radius: 10px;
}
