.actions-container {
	display: flex;
	gap: 16px;
	justify-content: center;
}

.checkout-form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 20px;
	max-width: 450px;
	height: min-content;
	margin: 0 auto;
}

.cancel-button,
.pay-button {
	width: 100%;
}
